.main-header {
  background-color: rgba(52, 152, 219, 0.7);
  padding: 2.5em 7em;
  margin-top: 3em;
}

.main-header-text {
  color: $white;
  font-size: 3.5em;
}

.main-content-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 4em 6em;
}

.main-content-container ul {
  margin-right: 2em;
}

.main-content-container ul li {
  font-size: 2em;
}

.img-portrait {
  border-radius: 50%;
  height: 50vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  padding: 2em 0;
}

.footer-container {
  display: flex;
  justify-content: center;

  a {
    color: $white;
    font-size: 2em;
  }

  a:hover {
    color: #ddd;
  }
}

.quiz-container {
  margin: auto;
}

.answer-container {
  margin-top: 4em;

  p {
    font-size: 1.6em;
  }
}